/* #################### */
/*      FORMIDABLE      */
/* #################### */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

body {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.formidable-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.formidable-icon {
  width: 100px;
}

.formidable-wordmark {
  width: 300px;
  margin: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: #000000;
}

.chapter-link {
  color: #ffffff;
}

.chapter-item {
  border: 1px solid #fff;
  background-color: #f04d21;
  padding: 20px 50px;
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  opacity: 0.5;
  transition: 0.3s;
}

.chapter-title {
  font-size: 1.3em;
  font-weight: bold;
  flex: 1;
  text-align: left;
}

.chapter-item:hover {
  opacity: 1;
}

.training-app {
  background-color: #f4f4f4;
  color: #000000;
  min-height: 100%;
}

/* #################### */
/*       Lessons        */
/* #################### */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
  border-bottom: 1px solid #ebe5da;
  background-color: #364c99;
  color: #fff;
}

.nav-logo {
  color: #fff;
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
}

.inbox {
  padding: 3em 2em;
}

.preview {
  display: flex;
  border: 1px solid #ebe5da;
  border-radius: 2px;
  margin: 1em;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.preview-name {
  white-space: nowrap;
  width: 25%;
}

.preview-content {
  width: 70%;
}

.preview-title {
  line-height: 1.5em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.preview-body {
  line-height: 1.5em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.preview-delete {
  opacity: 0.75;
  transition: 0.3s;
  height: 30px;
  width: 30px;
}

.preview-delete:hover {
  opacity: 1;
  cursor: pointer;
}

.denied,
.empty {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  color: grey;
}

.undo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.undo-button {
  margin-right: 4em;
  background-color: #f04d21;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.6em 1.8em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

.undo-title {
  line-height: 1.5em;
  text-align: left;
}

.undo-image {
  height: 30px;
  width: 30px;
  margin-left: 1.5em;
}

.modal {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 40, 40, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal h3 {
  color: #fff;
  font-size: 48px;
}

.modal-close {
  margin-top: 20px;
  background-color: #f04d21;
  color: white;
  display: flex;
  align-items: center;
  padding: 1em 2.4em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}
